{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}


    {% block field_sets %}

{% endblock %}

{% for fieldset in adminform %}
    {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% for fieldset in adminform %}
    {% if forloop.first %}
        {% block inline_field_sets %}
        {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
        {% endfor %}
        {% endblock %}
    {% endif %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform.first_field and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script>
    function showAddAnotherPopup2(href)
    {

        var w = (screen.width/2);
        var h = (screen.height/2);

        var top = h - h/2;
        var left = w - w/2;

        console.log(href);
        return !window.open(href, '', 'scrollbars=yes, resizable=yes, width='+w+', height='+h+ ', top='+top+', left='+left);
    }

    var current_url = document.URL;
    var vitri_dau = current_url.indexOf('/customer/');
    var vitri_cuoi = current_url.lastIndexOf('/');
    var customer_id = current_url.substring(vitri_dau + 10, vitri_cuoi);

    var staff_id = '';
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            staff_id = xmlhttp.responseText;

            var vehicle_registration = document.getElementById('vehicleregistration_set-group');
            if (vehicle_registration)  // Tuy chinh VehicleRegistrationInline
            {
                var add_row = vehicle_registration.getElementsByClassName('add-row')[0];  // Tuy chinh link add row ->  Dang ky xe moi
                var add_row_a = add_row.getElementsByTagName('a')[0];

                if (current_url.indexOf('add') == -1)
                {
                    var h2 = vehicle_registration.getElementsByTagName('h2')[0];
                    h2.innerHTML = "<a style='color:red' href='/admin/parking/vehicleregistration/?customer__id=" + customer_id + "'>Đăng ký xe </a>";
					var link0 = '<a class="my-button-color" onclick="return showAddAnotherPopup(this);" style="display:inline-block;width: 180px;text-align:center; margin: 10px; padding: 6px;color: white; font-weight:bold;" href="/admin/vehecleregistry/?customer=' + customer_id +"&pageindex=1"+ '">Đăng Ký-Mới</a>';
                     <!--var link1 = '<a class="my-button-color" onclick="return showAddAnotherPopup(this);" style="display:inline-block;width: 180px;text-align:center; margin: 10px; padding: 6px;color: white; font-weight:bold;" href="' + '/admin/parking/ticketpayment/add/?customer=' + customer_id + '&staff=' + staff_id + '">Đăng Ký-Gia hạn</a>';-->
                    var link1 = '<a class="my-button-color" onclick="return showAddAnotherPopup(this);" style="display:inline-block;width: 180px;text-align:center; margin: 10px; padding: 6px;color: white; font-weight:bold;" href="' + '/admin/renewalregistry/?customer=' + customer_id + '&staff=' + staff_id + '">Đăng Ký-Gia hạn</a>';
                    var link2 = '<a class="my-button-color" onclick="return showAddAnotherPopup(this);" style="display:inline-block;width: 100px;text-align:center; margin: 10px; padding: 6px; color: white; font-weight:bold;" href="' + '/admin/parking/depositpayment/add/?customer=' + customer_id + '&staff=' + staff_id + '">Đóng cọc thẻ</a>';

                    var link3 = '<a class="my-button-color" onclick="return showAddAnotherPopup2(this.href)" style="display:inline-block;width: 180px;text-align:center; margin: 10px; padding: 6px; color: white; font-weight:bold;" href="' + '/admin/parking/vehicleregistration/?customer=' + customer_id + '">Tạm ngừng/Phục hồi/Hủy</a>';

                    h2.outerHTML += link0 + link1 + link2 + link3 + "<br />";
                     add_row_a.outerHTML = "<a onclick='return showAddAnotherPopup(this);' href='/admin/vehecleregistry/?customer=" + customer_id +"&pageindex=1"+ "'>Đăng ký xe mới</a>";
                    <!--//add_row_a.outerHTML = "<a onclick='return showAddAnotherPopup(this);' href='/admin/parking/vehicleregistration/add/?customer=" + customer_id + "&staff=" + staff_id + "'>Đăng ký xe mới</a>";-->
                }

                else
                {
                    add_row_a.outerHTML = "";
                }
            }
        }
    };

    xmlhttp.open("GET", "/get/currentuser/", true);
    xmlhttp.send();

    if (current_url.indexOf('add') == -1)
    {
        var customer_form = document.getElementById('customer_form');
        if (customer_form) {
            var h2 = customer_form.getElementsByTagName('h2')[0];

            var link1 = '<a class="my-button-color" target="_blank" style="display:inline-block;width: 120px;text-align:center; margin: 10px; padding: 6px;color: white; font-weight:bold;" href="/admin/log/customer/' + customer_id + '">Lịch sử thay đổi</a>';

            h2.outerHTML += link1 + "<br />";
        }

        var ticket_payment_customer = document.getElementById('ticket_payment_customer-group');  // Danh sach gia han
        if (ticket_payment_customer)
        {
            var h2 = ticket_payment_customer.getElementsByTagName('h2')[0];
            h2.innerHTML = "<a style='color:red' href='/admin/parking/ticketpayment/?q=" + customer_id + "'>Danh sách gia hạn</a>";
        }

        var deposit_payment_customer = document.getElementById('deposit_payment_customer-group');  // Danh sach coc the
        if (deposit_payment_customer)
        {
            var h2 = deposit_payment_customer.getElementsByTagName('h2')[0];
            h2.innerHTML = "<a style='color:red' href='/admin/parking/depositpayment/?q=" + customer_id + "'>Danh sách cọc thẻ</a>";
        }
    }


</script>
{% endblock %}
