{% extends "admin/base.html" %}

{% block title %}
Chấm công tất cả nhân viên trong tháng
{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block branding %}
<h1 id="site-name" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">{{title}}</h1>
{% endblock %}

{% block extrahead %}

<!--custom view style-->
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/page.css">
{% endblock %}
{% block content %}
<div class="containerRPS">
    <fieldset>
        <form method="post" id="formRPS">
            {% csrf_token %}
            <div class="form-field">
                <input style="height: 30px; width: 150px;" name="txt_date" id="txt_date" class="date-picker" value={{month}} />
                <button style="height: 30px; width: 150px;" type="submit" name="btn_submit">
                    Thống kê
                </button>
            </div>
        </form>
        <div class="form-field">
            <a id="dlink"  style="display:none;"></a>
            <input style="height: 30px; width: 150px;" type="button" onclick="tableToExcel('datatable', 'Chấm công', 'GP-Attendance.xls')" value="Xuất dữ liệu">
        </div>
    </fieldset>
    <hr />
    <div>
    <fieldset>
        <legend>
            Thông tin thống kê
        </legend>
        <div class="inner_table">
            {% if data %}
                <table id="datatable" style="width: 100%">
                    <thead>
                        <tr>
                            <th rowspan="3">Mã thẻ</th>
                            <th rowspan="3">Họ và tên</th>
                            {% for item in data.0 %}
                                <th>{{item.day_of_week}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for item in data.0 %}
                                <th>{{item.day}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for item in data.0 %}
                                <td>Vào|Ra|Số giờ công</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data.1 %}
                            <tr>
                                <td>{{item.card_label}}</td>
                                <td>{{item.fullname}}</td>
                                {% for ite in item.data %}
                                    <td>
                                        {% for it in ite %}
                                            {{it.time_in}}
                                            |
                                            {{it.time_out}}
                                            |
                                            {{it.total}}
                                            <br/>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Tổng nhân sự</td>
                            {% for item in data.2 %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>
    </fieldset>
</div>
</div>

<script src="/static/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery-ui.css">
<script type="text/javascript">
    $(function() {
        $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm-yy',
            onClose: function(dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
    });
</script>
<style>
    .ui-datepicker-calendar
    {
        display: none;
    }
</style>

<style>
    div.inner_table {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

th, td { min-width: 150px; }
</style>

<script type="text/javascript" src="/static/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/jquery/scrolltable.js"></script><script type="text/javascript">
$(function(){

$('#datatable').scrolltable({
stripe: true,
oddClass: 'odd',
setWidths: true,
maxHeight: 700
});

});
</script>

<script src="/static/js/tableToExcel.js"></script>
{% endblock %}