{% extends "admin/base.html" %}
{% block title %}
Chấm công nhân viên
{% endblock %}

{% block branding %}
<h1 id="site-name" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
</h1>
{% endblock %}

{% block extrahead %}
<!--custom view style-->
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>

<!--datetimepicker-->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>

<!--datatable-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"/>

{% endblock %}

{% block content %}
<div class="containerRPS">


    <form method="post" id="formRPS">
        {% csrf_token %}
        <div class="form-field">
            <label>Nhân viên</label>
            <div>
                <input style="height: 30px; width: 200px;"
                       type="text"
                       name="txt_user"
                       id="txt_user"
                       value="{{user_name}}"
                       required
                       placeholder="Tên nhân viên"
                       oninvalid="this.setCustomValidity('Chưa nhập tên nhân viên')"
                       onchange="this.setCustomValidity('')" />
            </div>
        </div>

        <!--<div class="form-field">-->
            <!--<label>Thẻ</label>-->

            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text" name="txt_card" value="{{card_label}}" readonly/>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-field">
            <label>Thời gian bắt đầu</label>

            <div>
                <input style="height: 30px; width: 150px;" type="text" value="{{time_in}}" id="datetimepicker_start" name="txt_in"/>
            </div>
        </div>

        <div class="form-field">
            <label>Thời gian kết thúc</label>

            <div>
                <input style="height: 30px; width: 150px;" type="text" value="{{time_out}}" id="datetimepicker_end" name="txt_out"/>
            </div>
        </div>

        <div class="form-field">
            <label>&nbsp;</label> <br/>
            <button style="height: 30px; width: 150px;" class="form-field" type="submit" name="btn_submit">
                Chấm công nhân viên
            </button>
        </div>
    </form>

    <br style="clear:both;"/>
    <hr />
    <table id="datatable" style="width: 100%">
        <thead>
            <tr>
                <th>Ngày vào</th>
                <th>Giờ vào</th>
                <th>Ngày ra</th>
                <th>Giờ ra</th>
                <th>Số giờ công</th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for item in data %}
                    <tr>
                        <td>{{ item.day_begin }}</td>
                        <td>{{ item.time_begin }}</td>
                        <td>{{ item.day_end }}</td>
                        <td>{{ item.time_end }}</td>
                        <td>{{ item.total }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            {% if data %}
                <tr>
                    <th colspan="4">Tổng giờ công</th>
                    <th>{{ data|last }}</th>
                </tr>
            {% endif %}
        </tfoot>
    </table>
</div>


<!--script for datimepicker-->
<script src="/static/jquery/jquery.js"></script>
<script src="/static/jquery/jquery.datetimepicker.js"></script>
<script>
    jQuery('#datetimepicker_start').datetimepicker({
        format:'d-m-Y',
        timepicker:false,
        lang:'vi',
        i18n:{
            vi:{
                months:[
                    'Tháng Một','Tháng Hai','Tháng Ba','Tháng Tư',
                    'Tháng Năm','Tháng Sáu','Tháng Bảy','Tháng Tám',
                    'Tháng Chín','Tháng Mười','Tháng Mười Một','Tháng Mười Hai',
                    ],
                dayOfWeek:[
                    "Chủ Nhật", "Hai", "Ba", "Tư",
                    "Năm", "Sáu", "Bảy.",
                ]
            }
        },
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#datetimepicker_end').val()?jQuery('#datetimepicker_end').val():false
            })
        }
    });
    jQuery('#datetimepicker_end').datetimepicker({
        format:'d-m-Y',
        timepicker:false,
        lang:'vi',
        i18n:{
            vi:{
                months:[
                    'Tháng Một','Tháng Hai','Tháng Ba','Tháng Tư',
                    'Tháng Năm','Tháng Sáu','Tháng Bảy','Tháng Tám',
                    'Tháng Chín','Tháng Mười','Tháng Mười Một','Tháng Mười Hai',
                    ],
                dayOfWeek:[
                    "Chủ Nhật", "Hai", "Ba", "Tư",
                    "Năm", "Sáu", "Bảy.",
                ]
            }
        },
        onShow:function( ct ){
            this.setOptions({

            })
        }
    });
</script>

<!--script for sort-table-->
<script src="/static/jquery/jquery.js"></script>
<script src="/static/jquery/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#datatable').dataTable( {
            "oLanguage": {
                "sProcessing":   "Đang xử lý...",
                "sLengthMenu":   "Xem _MENU_ mục",
                "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
                "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix":  "",
                "sSearch":       "",
                "sUrl":          "",
                "oPaginate": {
                "sFirst":    "Đầu",
                 "sPrevious": "Trước",
                 "sNext":     "Sau",
                 "sLast":     "Cuối"
                 }
            }
        } );
    });
</script>

<link rel="stylesheet" href="/static/css/1.8.18/jquery-ui.css" type="text/css" media="all"/>
<script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/static/jquery/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
    var $j = jQuery.noConflict();
    $j(function() {
        $j("#txt_user").autocomplete({
            source: "/admin/get_users",
            minLength: 2
            });
        });
</script>
<link rel="stylesheet" href="/static/css/page.css">
{% endblock %}