{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}
Biểu đồ lượng xe vào ra
{% endblock %}

{% block extrastyle %}
<style type="text/css" class="cssStyles" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
</h1>
{% endblock %}

{% block extrahead %}

<!--style-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
<link rel="stylesheet" href="/static/css/ej.web.all-latest.min.css"/>

<!--google chart-->
<script type="text/javascript" src="/static/js/jsapi"></script>
<script src="/static/js/globalize.min.js"></script>
<script src="/static/jquery/jquery.easing.min.js"></script>
<script src="/static/js/ej.web.all-latest.min.js"></script>
<script src="/static/jquery/jquery.js"></script>
<script src="/static/jquery/jquery-1.10.2.min.js"></script>
<script src="/static/jquery/jquery.datetimepicker.js"></script>
<script type="text/javascript" language="JavaScript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawCheckin(){
        var djangoData = {{data_content|safe}};
        var timestamp = djangoData["timestamp"];
        var checkin = djangoData["check_in"];
        var chartData = [
            ["Thời gian", "Xe vào"]
        ];
        for (var i = 0; i < timestamp.length; i++) {
            chartData.push([new Date(timestamp[i] * 1000), checkin[i]])
        }
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: 'Lượng xe vào',
            height: 250,
            hAxis: {
                format: 'HH:mm\ndd/MM/yyyy'
            },
            vAxis: {
                viewWindow:{
                    min: 0
                },
                gridlines: {
                    color: '#f3f3f3',
                    count: 8
                }
            },
            colors: ['blue']
        };

        var chart = new google.visualization.AreaChart(document.getElementById("chart_check_in_div"));
        chart.draw(data, options);
    }

    function drawCheckout(){
        var djangoData = {{ data_content|safe }};
        var timestamp = djangoData["timestamp"];
        var checkout = djangoData["check_out"];
        var chartData = [
            ["Thời gian", "Xe ra"]
        ];
        for (var i = 0; i < timestamp.length; i++) {
            chartData.push([new Date(timestamp[i] * 1000), checkout[i]])
        }
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: 'Lượng xe ra',
            height: 250,
            hAxis: {
                format: 'HH:mm\ndd/MM/yyyy'
            },
            vAxis: {
                viewWindow:{
                    min: 0
                },
                gridlines: {
                    color: '#f3f3f3',
                    count: 8
                }
            },
            colors: ['red']
        };

        var chart = new google.visualization.AreaChart(document.getElementById("chart_check_out_div"));
        chart.draw(data, options);
    }

    function drawChart() {
        drawCheckin();
        drawCheckout();
    }

    $(window).resize(function(){
        drawChart()
    });

</script>

{% endblock %}

{% block content %}
<div class="containerRPS">

    <fieldset>
        <form method="post" id="formRPS">
            {% csrf_token %}
            <div>
                <div class="form-field">
                    <label>Loại thẻ</label>
                    <br/>
                    <select style="height: 30px; width: 150px;" name="slt_card_type">
                        {% for item in card_type_data %}
                            {% if item.id == card_type %}
                            <option name="card_type" value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option name="card_type" value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-field">
                    <label>Loại phương tiện</label>
                    <br/>
                    <select style="height: 30px; width: 150px;" name="slt_vehicle">
                        {% for item in vehicle_type_data %}
                            {% if item.id == vehicle_type %}
                            <option name="vehicle_type" value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option name="vehicle_type" value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-field">
                    <label>Thời gian bắt đầu</label>
                    <br/>
                    <input style="height: 30px; width: 150px;" type="text" value="{{time_in}}" id="datetimepicker_start" name="txt_in"/>
                </div>

                <div class="form-field">
                    <label>Thời gian kết thúc</label>
                    <br/>
                    <input style="height: 30px; width: 150px;" type="text" value="{{time_out}}" id="datetimepicker_end" name="txt_out"/>
                </div>

                <div class="form-field">
                    <label>&nbsp;</label>
                    <br/>
                    <button style="height: 30px; width: 150px;" name="btn_submit" type="submit">Vẽ biều đồ</button>
                </div>
            </div>

        </form>


    </fieldset>

    <hr/>

    <div class="containerRPS">
        <div>
            <div id="chart_check_in_div" style="width: 100%; height: auto">
            </div>
        </div>
        <div style="padding-top: 30px">
            <div id="chart_check_out_div" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>


<script src="/static/jquery/jquery.js"></script>
<script src="/static/jquery/jquery.datetimepicker.js"></script>
<script>
    jQuery('#datetimepicker_start').datetimepicker({
        format:'d-m-Y H:i:s',
        lang:'vi',
        i18n:{
            vi:{
                months:[
                    'Tháng Một','Tháng Hai','Tháng Ba','Tháng Tư',
                    'Tháng Năm','Tháng Sáu','Tháng Bảy','Tháng Tám',
                    'Tháng Chín','Tháng Mười','Tháng Mười Một','Tháng Mười Hai',
                    ],
                dayOfWeek:[
                    "Chủ Nhật", "Hai", "Ba", "Tư",
                    "Năm", "Sáu", "Bảy.",
                ]
            }
        },
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#datetimepicker_end').val()?jQuery('#datetimepicker_end').val():false
            })
        }
    });
    jQuery('#datetimepicker_end').datetimepicker({
        format:'d-m-Y H:i:s',
        lang:'vi',
        i18n:{
            vi:{
                months:[
                    'Tháng Một','Tháng Hai','Tháng Ba','Tháng Tư',
                    'Tháng Năm','Tháng Sáu','Tháng Bảy','Tháng Tám',
                    'Tháng Chín','Tháng Mười','Tháng Mười Một','Tháng Mười Hai',
                    ],
                dayOfWeek:[
                    "Chủ Nhật", "Hai", "Ba", "Tư",
                    "Năm", "Sáu", "Bảy.",
                ]
            }
        },
        onShow:function( ct ){
            this.setOptions({

            })
        }
    });
</script>

<link rel="stylesheet" href="/static/css/1.8.18/jquery-ui.css" type="text/css" media="all"/>
<script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/static/jquery/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(function() {
        $("#txt_user").autocomplete({
            source: "/admin/get_users",
            minLength: 2,
            });
        });
</script>

<!--custom view style-->
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>
{% endblock %}