{% extends "admin/base.html" %}
{% block title %}
Gia hạn vé xe tháng
{% endblock %}

{% block branding %}
<h1 id="site-name" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
</h1>
{% endblock %}

{% block extrahead %}
<!--custom view style-->
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>

<!--datatable-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"/>

{% endblock %}

{% block content %}
<div class="containerRPS">

       <label style="text-decoration:underline">Thông tin KH</label> <br />
    <div class="form-field">

            <label>Tên KH:</label>
             <span>{{customer_data.customer_name}}</span>
            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text"-->
                       <!--name="customer_name" value="{{customer_data.customer_name}}"/>-->
            <!--</div>-->
            <br />

            <label>CMND:</label>
            <span>{{customer_data.customer_id}}</span>

            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text"-->
                       <!--name="customer_id" value="{{customer_data.customer_id}}"/>-->
            <!--</div>-->

        </div>



        <div class="form-field">
            <label>ĐT nhà:</label>
            <span>{{customer_data.customer_phone}}</span>
            <br />
            <label>DĐ:</label>
            <span>{{customer_data.customer_mobile}}</span>
            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text"-->
                       <!--name="customer_phone" value="{{customer_data.customer_phone}}"/>-->
            <!--</div>-->
        </div>

        <!--<div class="form-field">-->
            <!--<label>DĐ</label>-->


            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text"-->
                       <!--name="customer_mobile" value="{{customer_data.customer_mobile}}"/>-->
            <!--</div>-->
        <!--</div>-->
     <!--<br style="clear:both;"/>-->
    <hr/>
    <div class="form-field">
    <form method="post" id="formRPS">
        {% csrf_token %}
        <div class="form-field">
            <label style="text-decoration:underline">Vé xe</label>
            <!--<div>-->
            <!--{% if vehicle_ticket_data %}-->
                <!--{% for item in vehicle_ticket_data %}-->
                    <!--<input type="checkbox" name="vehicle_ticket" value="{{item.vehicle_ticket_id}}" selected>{{item.vehicle_number}}<br />-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
                <!--</div>-->


            {% if data %}
    <table id="datatable" style="width: 100%">
        <thead>
        <tr>
            <th>Biển số</th>
            <th>Loại xe</th>
            <th>Giá vé tháng (30 ngày)</th>
            <th>Ngày gia hạn gần nhất</th>
            <th>Ngày hết hạn</th>
        </tr>
        </thead>
        <tbody>

        {% for item in data %}
        <tr>
            <td width="200px"><input type="checkbox" name="vehicle_ticket" value="{{item.vehicle_ticket_id}}" checked="checked" style="margin-right:5px">{{ item.vehicle_number }}</td>
            <td>{{ item.vehicle_type}}</td>
            <td>{{ item.month_fee}}</td>
            <td>{{ item.last_renewal }}</td>
            <td>{{ item.end_date }}</td>

        </tr>
        {% endfor %}

        </tbody>
           </table>
            {% endif %}
            <hr />
        <div>
        <button style="height: 30px; width: 150px;" class="form-field" type="submit" name="btn_RENEW">
                Gia hạn
            </button>
        </div>

        </div>




        <!--<div class="form-field">-->
            <!--<label>Trạng thái</label>-->
            <!--<div>-->
            <!--{% if vehicle_status_data %}-->
            <!--<select name="vehicle_status" style="height: 30px; width: 150px;">-->
                <!--{% for item in vehicle_status_data %}-->
                    <!--{% if item.status == vehicle_status %}-->
                    <!--<option name="vehicle_status" value="{{item.status}}" selected>{{item.status_name}}</option>-->
                    <!--{% else %}-->
                    <!--<option name="vehicle_status" value="{{item.status}}">{{item.status_name}}</option>-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--</select>-->
            <!--{% endif %}-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="form-field">-->
            <!--<label>Từ</label>-->

            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text" value="{{from_time}}"-->
                       <!--id="datetimepicker_start" name="from_time"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-field">-->
            <!--<label>Đến</label>-->

            <!--<div>-->
                <!--<input style="height: 30px; width: 150px;" type="text"-->
                       <!--value='{{to_time}}'-->
                       <!--id="datetimepicker_end"-->
                       <!--name="to_time"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-field">-->
            <!--<label>&nbsp;</label> <br/>-->
            <!--<button style="height: 30px; width: 150px;" class="form-field" type="submit" name="btn_SEARCH">-->
                <!--Tìm kiếm-->
            <!--</button>-->
        <!--</div>-->
    </form>

</div>
</div>


<!--script for datimepicker-->
<script src="/static/jquery/jquery.js"></script>



<!--script for sort-table-->
<script src="/static/jquery/jquery.js"></script>
<script src="/static/jquery/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#datatable').dataTable( {
            "order": [[3, "desc"]],
            "oLanguage": {
                "sProcessing":   "Đang xử lý...",
                "sLengthMenu":   "Xem _MENU_ mục",
                "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
                "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix":  "",
                "sSearch":       "",
                "sUrl":          "",
                "oPaginate": {
                "sFirst":    "Đầu",
                 "sPrevious": "Trước",
                 "sNext":     "Sau",
                 "sLast":     "Cuối"
                 }
            }
        } );
    });


</script>

<link rel="stylesheet" href="/static/css/1.8.18/jquery-ui.css" type="text/css" media="all"/>
<script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/static/jquery/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
    var $j = jQuery.noConflict();
    $j(function() {
        $j("#card_label").autocomplete({
            source: "/admin/get_card_labels",

            });
        });


</script>
<link rel="stylesheet" href="/static/css/page.css">
{% endblock %}
<!--minLength: 2-->