<table id="datatable" style="width: 100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Máy chủ</th>
            <th>Địa chỉ IP</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {% if data %}
            {% for item in data %}
                <tr>
                    <td>{{ item.idx }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.status | safe }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6"><p style="text-align: center; font-weight: bold;">Không có máy chủ</p></td></tr>
        {% endif %}
    </tbody>
</table>
