/*

Sao chep file theme cu (greenparking.css) va dat ten khac de sao luu (vd: old_greenparking.css)
File theme nay phai dat ten chinh xac: greenparking.css

**THAY DOI MAU THEME**

Chon 2 mau tuong doi giong nhau:

Mot mau toi m1 = #27af60
Mot mau sang hon m2 = #2ecc71

-> Thay the toan bo 2 mau mac dinh sau bang 2 mau moi m1 & m2:
#27af60 = = m1
#2ecc71 = m2

Mau sang hon de noi bat cac nut, vien nut, menu item.

VIDU:
Mot mau toi m1 = #27af60
Mot mau sang hon m2 = #2ecc71

Thay the toan bo:
#27af60 = #27af60
#2ecc71 = #2ecc71

**THAY DOI HINH NEN, LOGO**

Chu y kich thuoc giong voi file goc hoac dieu chinh tuy y.
Chep de file hinh nen, logo moi vao vi tri nhu sau:
+ Logo nho o goc trai menu: parking/static/image/logo_gp_small.png
+ Logo background trang web: parking/static/image/logo_gp_background.png

+ Logo "KienViet" trong cac file bao cao Excel:
  Gom 2 file:
  + parking/static/image/logo_report.png (nhieu mau bao cao su dung)
  + parking/static/image/logo_bmp.png (1 mau bao cao su dung)

*/


body, body.login {
    background-image: url("/static/image/logo_gp_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    background-color: #f1f1f1 !important;
}

/* TUY CHINH GIAO DIEN DON GIAN */

/* Mau nut */
.my-button-color {
    /*background-color: #2ecc71;*/
    background-color: #2ecc71;
    border: 2px solid #27af60;
	text-align: center;
    color: #ffffff;
}

#content .button:hover, #content input[type="submit"]:hover, #content input[type="button"]:hover, #content button[type="submit"]:hover, #content .submit-row input:hover, #content .button:focus, #content input[type="submit"]:focus, #content input[type="button"]:focus, #content button[type="submit"]:focus, #content .submit-row input:focus {
    background-color: #2ecc71;
    border-color: #2ecc71;
    color: #ffffff;
	  font-weight: bold;
}

#content .button, #content input[type="submit"], #content input[type="button"], #content button[type="submit"], #content .submit-row input {
    background-color: #27af60;
    border-color: #ccc;
    color: #fff;
	text-align: center;
}


#content .button.default, #content input.default[type="submit"], #content input.default[type="button"], #content button.default[type="submit"], #content .submit-row input.default {
    background-color: rgba(158, 186, 160, 0.8);
    border-color: #9ebaa0;
    color: #fff;
}

#content .button.default:hover, #content input.default[type="submit"]:hover, #content input.default[type="button"]:hover, #content button.default[type="submit"]:hover, #content .submit-row input.default:hover, #content .button.default:focus, #content input.default[type="submit"]:focus, #content input.default[type="button"]:focus, #content button.default[type="submit"]:focus, #content .submit-row input.default:focus {
    background-color: #9ebaa0;
    border-color: #80a583;
    color: #fff;
}

#content h1 a.add-new:hover {
    background: #27af60;
    color: #fff;
}


/* Menubar tren cung */
#adminmenuback, #adminmenuwrap, #adminmenu, #adminbarwrap, #adminbar {
    /*background-color: #27ae60;*/
    background-color: #27af60;
}

/* Menu duoi cung */
#content #bottombar {
    /*background: #27ae60;*/
    background: #27af60;
}

/* Mau nen nut menu duoi cung */
#content #bottombar input, #content #bottombar button, #content #bottombar a {
    /*background: #26C281;*/
    background: #2ecc71;
    color: #fff;
}


/* Mau nen menu item mac dinh */
.wp-menu .wp-submenu .wp-submenu-wrap {
    /*background-color: #26C281;*/
    background-color: #27af60;
    width: 180px;
}

/* Menu item tren cung hien tai */
.wp-menu .wp-menu-top.wp-menu-open > a, .wp-menu .wp-menu-top.wp-menu-open .wp-menu-image a {
    /*background: #26C281;*/
    background: #2ecc71;
    color: #FFFFFF;
}

.wp-menu .wp-submenu a.wp-current {
    font-weight: bold;
}


/* Mau cua menu image tren cung khi huo chuot */
#adminbar .wp-menu-top.wp-menu-not-open:hover .wp-menu-image a {
    /*color: #2EA2CC;*/
    color: #FFFFFF;
}

/* Mau nen menu item khi huo chuot qua */
#adminbar .wp-menu-top.wp-menu-not-open:hover > a {
    /*background-color: #26C281;*/
    background-color: #2ecc71;
    color: #ffffff;
}

#adminbar .wp-menu-top.wp-menu-not-open:hover .wp-menu-image a {
    /*background-color: #26C281;*/
    background-color: #2ecc71;
}


/* Menu item filter admin */
#content #changelist .actions-and-paginator .paginator a:hover {
    /*background: #26C281 !important;*/
    background: #2ecc71 !important;
    color: #fff !important;
}

#content #changelist #changelist-filter ul {
    background: rgba(0, 0, 0, 0.05);
}

#content #changelist #changelist-filter ul li.selected a {
    /*color: Green !important;*/
    color: #27af60 !important;
}

#content #changelist #changelist-filter ul:hover {
    /*background-color: #26C281;*/
    background-color: #2ecc71;
}

#content #changelist #changelist-filter ul:hover li a {
    color: #d5dddf !important;
}

#content #changelist #changelist-filter ul:hover li a:hover {
    color: #9ebaa0 !important;
}

#content #changelist #changelist-filter ul:hover li.selected a {
    color: #fff !important;
}



/* Tieu de lon (h1) */
h1 {
    color: #27af60;
}

h2 {
    color: #27af60;
}

#content h1 {
    /*color: DarkGreen;*/
    color: #27af60;
}

/* Tieu de nho trong cac cua so admin */

#content .module h2, #content .module caption, #content .inline-group h2 {
    background: #fff;
    border-color: #eee;
    /*color: DarkGreen;*/
    color: #27af60;
}

/* Link noi dung */
#content a {
    color: #27af60;
}

/* Link menu item khi huo chuot */
.wp-menu .wp-submenu a:hover {
    background-color: #2ecc71;
    color: #ffffff;
    /*font-weight: bold;*/
}

/* Link bang */
#content table thead th.sortable .text a, #content table tfoot th.sortable .text a {
    /*color: DarkGreen;*/
    color: #27af60;
}

#content table thead th, #content table thead td, #content table tfoot th, #content table tfoot td {
    border-color: #e1e1e1;
    color: #27af60;
}

/* Mau chu textbox */
#content textarea, #content input[type="text"], #content input[type="password"], #content input[type="email"], #content input[type="number"], #content input[type="search"], #content input[type="tel"], #content input[type="url"], #content input[type="file"], #content select {
    background-color: #fff;
    border-color: #ddd;
    /*color: DarkGreen;*/
    color: #000000;
}

#content form .form-row p {
    color: #000000;
}
/*--- END ---*/

#adminmenu .wp-menu-top.wp-menu-open > a:after, #adminmenu .wp-menu-top.wp-menu-open .wp-menu-image a:after {
    border-right-color: #26C281;
}

h3.copyright {
    text-align: right;
}

#wrapper #container {
    height: 100%;
}

.wp-menu a {
    color: #fff;
}

.wp-menu a:hover {
    color: #fff;
}

.wp-menu .wp-menu-image a {
    color: #f2fcff;
}

.wp-menu .wp-menu-image a:hover {
    color: #fff;
}

.wp-menu .wp-menu-top.wp-menu-not-open:hover > a {
    background-color: #9ebaa0;
    color: #fff;
}

.wp-menu .wp-menu-top.wp-menu-not-open:hover .wp-menu-image a {
    background-color: #9ebaa0;
    color: #fff;
}

.wp-menu .wp-menu-top.wp-menu-not-open:hover.wp-has-submenu:after {
    border-right-color: #26C281;
}

.wp-menu .wp-menu-top.wp-menu-open .wp-submenu .wp-submenu-head {
    background: #9ebaa0;
}

.wp-menu .wp-submenu .wp-submenu-head {
    color: #d5dddf;
}

.wp-menu .wp-submenu a {
    color: #fff;
}

.wp-menu .wp-menu-tools > a {
    color: #27ae60;
}

.wp-menu .wp-menu-tools:hover > a {
    color: #fff;
}

.wp-menu .wp-user-tools img.wp-small-gravatar {
    background: #f2fcff;
}

.wp-menu .wp-user-tools:hover img.wp-small-gravatar {
    background: #fff;
}

#adminbar .wp-menu-top.wp-menu-not-open:hover.wp-has-submenu:after {
    display: none;
}

#container ul.messagelist li {
    background: #fff;
    color: #444;
}

#content a:hover, #content a:active, #content a:focus {
    color: #0099d5;
}

#content .actionlink {
    background: rgba(0, 0, 0, 0.05);
}

#content .actionlink:hover {
    background: #26C281;
    color: #9ebaa0;
}

#content textarea:focus, #content input[type="text"]:focus, #content input[type="password"]:focus, #content input[type="email"]:focus, #content input[type="number"]:focus, #content input[type="search"]:focus, #content input[type="tel"]:focus, #content input[type="url"]:focus, #content input[type="file"]:focus, #content select:focus {
    border-color: #999;
}

#content .errornote {
    background-color: #fff;
}

#content .errorlist li {
    background-color: #fff;
}

#content h1 a.add-new {
    background: rgba(0, 0, 0, 0.05);
}

#content table {
    background: #fff;
    border-color: #e5e5e5;
}

#content table tbody tr.row1 {
    background: #f9f9f9;
}

#content table tbody tr.row2 {
    background: #fff;
}

#content #changelist .actions-and-paginator .paginator span.this-page, #content #changelist .actions-and-paginator .paginator a {
    background: rgba(0, 0, 0, 0.05) !important;
}

#content .module {
    background: #fff;
    border-color: #e5e5e5;
}

#content .form-row {
    border-color: #eee;
}

#content .object-tools li a {
    background: rgba(0, 0, 0, 0.05);
}

#content .object-tools li a:hover {
    background: #26C281;
    color: #9ebaa0;
}

#content .inline-group {
    background-color: #fff;
    border-color: #e5e5e5;
}

#content .inline-group h3 {
    border-color: #eee;
}

#content .inline-group fieldset .form-row:last-of-type {
    border-color: #eee;
}

#content .inline-group table thead td, #content .inline-group table tfoot td, #content .inline-group table thead th, #content .inline-group table tfoot th {
    border-color: #eee;
}

#content .inline-group div.add-row, #content .inline-group .tabular tr.add-row td {
    border-color: #eee;
}

#content .selector .selector-filter {
    border-color: #ddd;
}

#content .selector select:focus {
    border-color: #ddd;
}

#content .help, #content p.help {
    color: #999 !important;
}

#content .description {
    border-color: #eee;
}

.calendarbox, .clockbox {
    border-color: #27ae60;
}

.calendarbox caption, .clockbox caption, .calendarbox h2, .clockbox h2 {
    background: #27ae60;
}

.calendarbox .calendar-cancel, .clockbox .calendar-cancel {
    background: #9ebaa0;
}

.calendarbox .calendar-cancel a, .clockbox .calendar-cancel a {
    color: #fff;
}

.clockbox .timelist li {
    border-color: #e5e5e5;
}

.calendarbox .calendar th, .calendarbox .calendar td {
    border-color: #e5e5e5;
}

.calendarbox .calendar-shortcuts {
    border-color: #e5e5e5;
}

body.dashboard #content .module table tr th, body.dashboard #content .module table tr td {
    border-color: #eee;
}

.field-box {
    min-width: 300px;
}

#content .inline-group .tabular tr.has_original td {
    padding-top: 8px;
}

button .greensubmitbutton {
    height: 30px;
    width: 150px;
    background-color: #26C281;
    color: white;
    font-weight: bold;
    text-align: center;
}

.column-get_id {
    width: 10px;
}

.column-get_customer {
    width: 300px;
}

.column-get_expired_date {
    width: 70px;
}

.column-get_payment_date, .column-get_customer_type {
    width: 150px;
}

.column-get_payment_fee {
    text-align: right;
}

.column-payment_method {
    width: 110px;
}

.column-get_vehicle_number {
    text-align: center;
}

.column-vehicle_type, .column-get_vehicle_type {
    min-width: 90px;

}

.column-get_renewal {
    width: 20px;
}

.column-get_pdf_ticket_payment_list_display, .column-get_pdf_company_ticket_payment_list_display {
    width: 55px;
    text-align: center;
}

.column-notes {
    text-align: center;
}

td span.datetimeshortcuts {
    display: block;
}

.column-calculation_method, .column-min_calculation_time {
    width: 100px;
}

.field-get_pdf_ticket_payment {
    width: 80px;
}

.field-get_receipt_number {
    width: 100px;
}
