.left{
    float: left;
    width: 25%;
}

.right{
    float: left;
    width: 60%;
}

.form-field {
    padding-right: 10px;
    width: auto;
    float: left;
    text-align: left;
}

.custom-date-style
{
    background-color: red !important;
}

table
{
    width: 100%;
}

table.dataTable tr.odd td
{
    background-color: #fff;
}

table.dataTable tr.odd td.sorting_1
{
    background-color: #fff;
}

table.dataTable tr.even td
{
    background-color: #f9f9f9;
}

table.dataTable tr.even td.sorting_1
{
    background-color: #f9f9f9;
}

.title_condition
{
    font-weight: bold;
    font-size: 150px;
    color: white;
}

.odd
{
    background: White;
}

.even
{
    background: WhiteSmoke;
}

.check-in_data
{
    font-weight: bold;
    color: DarkGreen;
}

.check-out_data
{
    font-weight: bold;
    color: DarkRed;
}

#content table
{
    border: 2px solid #e5e5e5;
}

#content table thead tr
{
    border: 2px solid #e5e5e5;
}

#content table thead tr th
{
    border: 2px solid #e5e5e5;
}

#content table tbody tr td
{
    border: 1px solid #e5e5e5;
}

#content .mycontrol {
    height: 30px;
}

.containerRPS {
    width: 100%;
}

#formRPS {
    padding: 0;
    width: 100%;
    font-weight: 300;
}

.dataTables_filter {
    margin: 0px 55px;
}

.left_column {
    float: left;
    width: 70%;
}
.right_column {
    float: right;
    width: 30%;
}

.right_column_child {
    width: 90% !important;
    float: right !important;
}

.group:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 1024px) {
    .left_column {
        float: left;
        width: 100%;
    }
    .right_column {
        float: left;
        width: 100%;
    }
    .right_column_child {
        padding-top: 20px;
        width: 100% !important;
    }
}

#datatable tbody tr td.data-cell {
    text-align: right;
}

#datatable tbody tr td {
    vertical-align: middle;
}

#datatable tbody tr td.data_cell{
    text-align: right
}

/*h2 {*/
    /*color: DarkGreen;*/
/*}*/

#datatable table a {

    display:block;
    text-decoration:none;
}

#id_terminals {
    margin-left: 120px;
}