
<div style="margin:20px;" ng-controller="FormBill">
    <div ng-if="mypermission.id==-1">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này</h2>
    </div>
    <div ng-if="mypermission.id!=-1">
  <!-- Modal -->
    <div ng-if="mypermission.isadd" class="modal fade" id="addsamplefee" role="dialog">
        <div class="modal-dialog" style="width:90%;">
          <!-- Modal content-->
          <div class="modal-content" style="width:100%;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Thêm định mức khấu trừ</h4>
            </div>
            <div class="modal-body" >
                <form name="formularForm">
                    <div class="row">
                        <div class="form-group col-md-8">
                           <label>Tên gọi:</label>
                           <input type="text" class="form-control" placeholder="Tên dễ nhớ"
                                  required ng-model="add.callname">
                        </div>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mức hóa đơn
                                            <button type="button" class="btn btn-info btn-sm" ng-click="add.adddetail()" >
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="add.removedetail()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </th>
                                        <th>Mức khấu trừ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in add.detail">
                                        <td>
                                            <div class="row">
                                                <div class="form-group col-md-5">
                                                    <input required ensure-expression="checkmoney(dt.billamount)" class="form-control" ng-model="dt.billamount">
                                                </div>
                                                <div class="form-group col-md-7">
                                                    <span ng-if="$first || $middle">[[(dt.billamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></span>
                                                    <span ng-if="$last && $first!=$last">Từ [[(dt.billamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span> trở lên</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-info">
                                            <div class="row">
                                                <div class="form-group col-md-5">
                                                    <input required ensure-expression="checkmoney(dt.deductionamount)" class="form-control" ng-model="dt.deductionamount">
                                                </div>
                                                <div class="form-group col-md-7">
                                                    [[(dt.deductionamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" ng-click="add.postformulabill()" class="btn btn-success btn-block"
                       ng-disabled="formularForm.$invalid ||formularForm.$error.pattern" data-dismiss="modal">
                        Lưu
               </button>
            </div>
          </div>
        </div>
    </div>
    <table class="grid table table-bordered">
        <thead>
            <tr>
                <th><button ng-if="mypermission.isadd" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addsamplefee">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    Định mức khấu trừ
                </th>
                <th>Tạo bởi</th>
                <th># </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "item in formulas" ng-if="item.isvisible">
                <td>
                    <div ng-mouseover="item.showdetail=true" ng-mouseout="item.showdetail=false">
                        <span  class="form-control" ng-class="formulavalidclass(nm.formulafirstselectted.id)" style="cursor:pointer;">
                            [[item.callname]]
                        </span>
                        <div style="position:absolute;z-index:999" ng-show="item.showdetail">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mức hóa đơn</th>
                                        <th>Khấu trừ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in item.detail">
                                        <td>
                                            <span ng-if="$first || $middle">[[(dt.billamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></span>
                                            <span ng-if="$last &&$last !=$first">Từ  [[(dt.billamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span> trỏ lên</span>
                                        </td>
                                        <td class="text-info">[[(dt.deductionamount | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td>[[item.createdby]]</td>
                <td>
                    <button style="margin-right:15px;" title="Sao chép" ng-click="item.showcopy=true;" ng-if="mypermission.isadd;" type="button" class="btn btn-primary btn-sm" >
                        <span class="glyphicon glyphicon-duplicate"></span>
                    </button>
                    <div class="modal-content" style="position:absolute;left:72%;width:25%;"  ng-if="item.showcopy && mypermission.isadd;">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="item.showcopy=false;">&times;</button>
                            <h4 class="modal-title">Sao chép định mức khấu trừ: [[item.callname]]</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                               <label>Tên mới</label>
                               <input  placeholder="[[item.callname]]_[[CurrentDate() | date:'yyyy-MM-dd HH:mm:ss']]" class="form-control"
                                      ng-model="item.copyname" >
                            </div>
                            <button style="margin-right:15px;" title="Lưu" ng-click="copyitem(item); item.showcopy=false;item.copyname='';" ng-if="mypermission.isadd;" type="button" class="btn btn-primary btn-sm" >
                                Lưu
                            </button>
                            <button style="margin-right:15px;" title="Bỏ qua" ng-click="item.showcopy=false;" ng-if="mypermission.isadd;" type="button" class="btn btn-primary btn-sm" >
                                Bỏ qua
                            </button>
                         </div>
                    </div>

                    <button title="xóa" ng-click="removeitem(item)" ng-if="item.ischange && (mypermission.isdelall || (mypermission.isdel && mypermission.userid==item.userid));" type="button" class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>