<div ng-controller="permission" style="margin:20px; ">
    <div ng-if="mypermission.id==-1">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này</h2>
    </div>
    <div  ng-if="mypermission.id!=-1" >
    <form name="permissionform">
    <table class="grid table table-bordered">
        <thead>
            <tr ng-repeat-start="item in menus">
                <th>
                    <span ng-click="item.showdetail=true;getdetail(item);" ng-hide="item.showdetail" style="cursor:pointer;" class="glyphicon glyphicon-plus"></span>
                    <span ng-click="item.showdetail=false;" ng-hide="!item.showdetail" style="cursor:pointer;"  class="glyphicon glyphicon-minus"></span>
                    [[item.menuname]]
                    <button ng-if="mypermission.isadd && mypermission.iseditall && mypermission.isdelall" ng-hide="!item.showdetail" type="submit" ng-click="postchangepermission(item)" class="btn btn-success"
                       ng-disabled="permissionform.$invalid ||permissionform.$error.pattern">
                        Lưu thay đổi
                    </button>
                </th>
            </tr>
            <tr ng-repeat-end ng-if="item.showdetail" >
                <td>
                    <table class="grid table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <span ng-if="mypermission.isadd && mypermission.iseditall && mypermission.isdelall" ng-show="!item.showlist" style="cursor:pointer;" ng-click="item.showlist=!item.showlist;" title="hiệu lực hoặc vô hiệu lực với chức năng này"   class="btn btn-primary glyphicon glyphicon-arrow-down"></span>
                                    <span ng-if="mypermission.isadd && mypermission.iseditall && mypermission.isdelall" ng-show="item.showlist" style="cursor:pointer;" ng-click="item.showlist=!item.showlist;" title="hiệu lực hoặc vô hiệu lực với chức năng này"   class="btn btn-success glyphicon glyphicon-arrow-up"></span>
                                    <div class="row dialog" style="position:absolute;background-color:#2ecc71;color:black;margin-left:20px;border:solid 1px #fff" ng-show="item.showlist">
                                        <div class="col-md-3" ng-repeat="it in item.listpermission">
                                            <label for="chkpms[[it.menuid]][[it.groupid]]">
                                                <input id="chkpms[[it.menuid]][[it.groupid]]" type="checkbox" ng-change="setactivegroup(it);" ng-model="it.isactive"/>[[it.groupname]]
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th colspan="5">Quyền hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-click="item.showlist=false;" style="background-color:#2ecc71;" ng-repeat-start="it in item.listpermission" ng-if="it.isactive">
                                <td style="color:black;">
                                    <span ng-click="it.showdetail=true; " ng-hide="it.showdetail" style="cursor:pointer;" class="glyphicon glyphicon-plus"></span>
                                    <span ng-click="it.showdetail=false;" ng-hide="!it.showdetail" style="cursor:pointer;"  class="glyphicon glyphicon-minus"></span>
                                    [[it.groupname]]
                                </td>
                                <td style="color:black;">
                                    <input id="chkisadd[[it.menuid]][[it.groupid]]" type="checkbox" ng-model="it.isadd"/>
                                    <label for="chkisadd[[it.menuid]][[it.groupid]]">Thêm mới</label>
                                </td>
                                <td style="color:black;"><input ng-change="changepermission11(it)" id="chkisedit[[it.menuid]][[it.groupid]]" type="checkbox" ng-model="it.isedit"/>
                                    <label for="chkisedit[[it.menuid]][[it.groupid]]">Cập nhật</label>
                                </td>
                                <td style="color:black;"><input ng-change="changepermission1(it)" id="chkiseditall[[it.menuid]][[it.groupid]]" type="checkbox" ng-model="it.iseditall"/>
                                     <label  for="chkiseditall[[it.menuid]][[it.groupid]]">Cập nhật tất cả</label>
                                </td>
                                <td style="color:black;"><input ng-change="changepermission22(it)" id="chkisdel[[it.menuid]][[it.groupid]]" type="checkbox" ng-model="it.isdel"/>
                                     <label for="chkisdel[[it.menuid]][[it.groupid]]">Xóa</label>
                                </td>
                                <td style="color:black;"><input ng-change="changepermission2(it)" id="chkisdelall[[it.menuid]][[it.groupid]]" type="checkbox" ng-model="it.isdelall"/>
                                     <label for="chkisdelall[[it.menuid]][[it.groupid]]">Xóa tất cả</label>
                                </td>
                            </tr>
                        <tr ng-repeat-end ng-if="it.showdetail && it.isactive">
                            <td colspan="100%">
                                <table class="grid table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span ng-if="mypermission.isadd && mypermission.iseditall && mypermission.isdelall" ng-show="!it.showlist" style="cursor:pointer;" ng-click="it.showlist=!it.showlist;" title="hiệu lực hoặc vô hiệu lực với chức năng này"   class="btn btn-primary glyphicon glyphicon-arrow-down"></span>
                                                <span ng-if="mypermission.isadd && mypermission.iseditall && mypermission.isdelall" ng-show="it.showlist" style="cursor:pointer;" ng-click="it.showlist=!it.showlist;" title="hiệu lực hoặc vô hiệu lực với chức năng này"   class="btn btn-success glyphicon glyphicon-arrow-up"></span>
                                                <div  class="row dialog" style="min-width:400px;position:absolute;background-color:#2ecc71;color:black;margin-left:20px;border:solid 1px #fff" ng-show="it.showlist">
                                                    <div class="col-md-4" ng-repeat="itd in it.userpermission">
                                                        <label for="chkpmsu[[itd.menuid]][[itd.userid]]">
                                                            <input id="chkpmsu[[itd.menuid]][[itd.userid]]" ng-change="setactiveuser(it,itd)" type="checkbox" ng-model="itd.isactive"/>[[itd.username]]
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                            <th colspan="5">Quyền hạn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-click="it.showlist=false;" ng-repeat="itd in it.userpermission" ng-if="itd.isactive">
                                            <td style="color:black;">
                                                [[itd.username]]
                                            </td>
                                            <td ng-if="it.isadd" style="color:black;">
                                                <input  id="chkisaddu[[itd.menuid]][[itd.userid]]" type="checkbox" ng-model="itd.isadd"/>
                                                <label for="chkisaddu[[itd.menuid]][[itd.userid]]">Thêm mới</label>
                                            </td>
                                            <td ng-if="it.isedit" style="color:black;"><input  ng-change="changepermission11(itd)" id="chkiseditu[[itd.menuid]][[itd.userid]]" type="checkbox" ng-model="itd.isedit"/>
                                                <label for="chkiseditu[[itd.menuid]][[itd.userid]]">Cập nhật</label>
                                            </td>
                                            <td ng-if="it.iseditall" style="color:black;"><input ng-change="changepermission1(itd)" id="chkiseditallu[[itd.menuid]][[itd.userid]]" type="checkbox" ng-model="itd.iseditall"/>
                                                 <label  for="chkiseditallu[[itd.menuid]][[itd.userid]]">Cập nhật tất cả</label>
                                            </td>
                                            <td ng-if="it.isdel" style="color:black;"><input ng-change="changepermission22(itd)" id="chkisdelu[[itd.menuid]][[itd.userid]]" type="checkbox" ng-model="itd.isdel"/>
                                                 <label for="chkisdelu[[itd.menuid]][[itd.userid]]">Xóa</label>
                                            </td>
                                            <td ng-if="it.isdelall" style="color:black;"><input ng-change="changepermission2(itd)" id="chkisdelallu[[itd.menuid]][[itd.userid]]" type="checkbox" ng-model="itd.isdelall"/>
                                                 <label for="chkisdelallu[[itd.menuid]][[itd.userid]]">Xóa tất cả</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </thead>
    </table>
    </form>
    </div>
</div>