<div ng-controller="rootpermission" style="margin:20px; ">
    <div ng-if="!groups[0].permission">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này</h2>
    </div>
    <div  ng-if="groups[0].permission" >
    <form name="permissionform">
    <table class="grid table table-bordered">
        <thead>
            <tr>
                <th>
                    <strong>Chọn tài khoản là Root</strong><i style="color:grey;"> Với tài khoản là Root thì được đầy đủ các quyền </i>

                    <!--[[groups]]-->
                </th>
            </tr>
            <tr ng-repeat="item in groups" style="background-color:#2ecc71;">
                <th>
                    <div style="padding-left:25px;cursor:pointer;" class="row" ng-mouseover="item.showdetail=true" ng-mouseleave="item.showdetail=false">
                        [[item.group.groupname]]
                        <div ng-show="item.showdetail" style="background-color:#2e9f60;position:absolute; width:96%;z-index:99999;" >
                            <div style="margin-top:5px;" class="col-md-2" ng-repeat="it in item.group.users">
                                <label style="cursor:pointer;" for="chkpmsu[[item.group.groupid]][[it.userid]]">
                                    <input ng-disabled="it.canchange" id="chkpmsu[[item.group.groupid]][[it.userid]]" type="checkbox" ng-model="it.rootlevel"/>[[it.username]]
                                </label>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    Các tài khoản là root
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="100%">
                    <div class="row">
                        <div ng-repeat="item in groups">
                             <div ng-show="it.rootlevel" style="margin-top:5px;" class="col-md-3" ng-repeat="it in item.group.users">
                                 <strong class="lbl-primary">[[it.username]]</strong>
                                 <i class="lbl-extra">[[item.group.groupname]]</i>
                             </div>
                        </div>
                    </div>
                    <button type="submit" ng-click="postchangepermission()" class="btn btn-success"
                       ng-disabled="permissionform.$invalid ||permissionform.$error.pattern">
                        Lưu thay đổi
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
    </div>
</div>