
<div ng-controller="complexdetail" ng-init="getdetail(sf.id)">

    <form name="detailcomplexform">
    <img ng-show="loading" class="loading-inner" src="/static/image/loading.gif">
    <table style="width:99%" class="table table-bordered ">
        <tbody>
            <tr>
                <div class="row">
                    <div class="form-group col-md-4">
                       <label>Điểm khởi đầu:</label>
                       <span>[[sf.startdate]]</span>
                    </div>
                    <div class="form-group col-md-4">
                       <label>Thời gian không tính phí:<input type="checkbox"  ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" ng-model="sf.issubtractfree">Từ đầu</label>
                       <span>[[sf.freetime | minutes]]</span>
                    </div>
                    <div class="form-group col-md-4">
                       <label>Dung sai: <input type="checkbox"  ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" ng-model="sf.issubtracttolerance">Trừ thời gian dung sai</label>
                       <span>[[sf.tolerancetime | minutes]]</span>
                    </div>

                </div>
            </tr>
            <tr ng-repeat-start="dt in detailcomplex">
                <th>
                    <div class="row" >
                        <div class="form-group col-md-4">
                            <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" type="text" required class="form-control" placeholder="Tên dạng ngày"  ng-model="dt.callname">
                        </div>
                        <div class="form-group col-md-8">
                            [[dt.weekmap]]
                        </div>
                    </div>

                </th>
            </tr>
            <tr ng-repeat-end>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <th>Loại khung</th>
                            <th>Điểm khởi đầu</th>
                            <th>Điểm kết thúc</th>
                            <th>Công thức phí</th>
                        </tr>
                        <tr ng-repeat="nm in dt.cycletimes" >
                            <td>[[nm.cyclename]]</td>
                            <td>
                                <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" class="form-control" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" required type="text" placeholder="HH:mm:ss" ng-model="nm.fromtime">
                            </td>
                            <td>
                                <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" class="form-control" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" required type="text" placeholder="HH:mm:ss" ng-model="nm.totime">
                            </td>
                            <td >
                                <div ng-click="nm.fiterformula='';nm.overflow='auto';nm.showlistfolmurla=!nm.showlistfolmurla" ng-mouseover="mn.showdetail=true&&!showlistfolmurla;" ng-mouseout="mn.showdetail=false;">
                                    <span  class="form-control" ng-class="formulavalidclass(nm.formulaselected.id)" style="cursor:pointer;">
                                            [[nm.formulaselected.callname]]
                                        <strong class="text-active" ng-if="nm.formulaselected.feetype==1" style="font-size:large" >
                                            [[(nm.formulaselected.fullfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ/block</span>
                                        </strong>
                                        <strong class="text-active" ng-if="nm.formulaselected.feetype==0" style="font-size:large" >
                                            [[(nm.formulaselected.fullfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ/giờ</span>
                                        </strong>
                                    </span>
                                    <input  ng-hide="true" type="text" ensure-expression="formulavalid(nm.formulaselected.id)" ng-model="nm.formulaselected.id"></input>
                                    <div  style="position:absolute;z-index:999" ng-show="mn.showdetail" ng-if="nm.formulaselected.feetype==2">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Mức phí</th>
                                                    <th>Đơn vị</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dt in nm.formulaselected.detail">
                                                    <td>
                                                        <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                        <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                        <span ng-if="$last">Thời gian còn lại</span>
                                                        <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                        <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                    </td>
                                                    <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                    <td>[[dt.des]]</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul  ng-mouseover="nm.showlistfolmurla=true;" ng-mouseout="nm.showlistfolmurla=false;" ng-if="(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" class="fomurla" style="position:absolute;z-index:99999;height: 250px;overflow:[[nm.overflow]];" ng-show="nm.showlistfolmurla">
                                    <li><input type="text" placeholder="Lọc" style="background-color:#fff;" class="form-control" ng-model="nm.fiterformula" ng-change="filterformular(nm)"/> </li>
                                    <li ng-mouseover="item.showdetail=true" ng-mouseout="item.showdetail=false"   ng-show="(nm.fiterformula=='' || item.canshow)&& item.id!=-1" ng-repeat="item in nm.formula" ng-click="nm.formulaselected=nm.formula[$index];nm.showlistfolmurla=!nm.showlistfolmurla;" >
                                        <span >
                                            [[item.callname]]
                                        </span>
                                        <strong class="text-active" ng-if="item.feetype==1" style="font-size:large" >
                                            [[(item.fullfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ/block</span>
                                        </strong>
                                        <strong class="text-active" ng-if="item.feetype==0" style="font-size:large" >
                                            [[(item.fullfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ/giờ</span>
                                        </strong>
                                        <div ng-mouseover="nm.overflow='none'" ng-mouseout="nm.overflow='auto'" style="position:absolute;width:250px;z-index:9;" ng-if="item.feetype==2" ng-show="item.showdetail">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="dt in item.detail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        <tr>
            <td><button ng-if="(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" type="submit" ng-click="postcomplex(sf)" class="btn btn-success btn-block"
                    ng-disabled="detailcomplexform.$invalid ||detailcomplexform.$error.pattern" >
                Lưu
                </button></td>
        </tr>
        </tbody>
    </table>

    </form>

</div>