
<div ng-controller="24hdetail" ng-init="getdetail(sf.id)">
    <form name="detail24">
    <img ng-show="loading" class="loading-inner" src="/static/image/loading.gif">
    <table style="width:99%" class="table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;" colspan="2">Trong vòng 24h</th>
                <th style="text-align: center;" rowspan="2">Sau 24h</th>
            </tr>
            <tr>
                <th style="text-align: center;" >Thời gian(số giờ)
                    <label style="align-content: right;margin-right:5px;"><input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" type="checkbox" text="Loại trừ" value="Loại trừ" ng-model="exceptfee">Loại trừ</label>

                </th>
                <th style="text-align: center;">Mức phí
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bl in blocks">
                <td>
                    <div class="col-md-5">
                        <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" type="text" class="form-control" pattern="^[0-9]*$" required  placeholder="Số giờ"  ng-model="bl.blockhour">
                    </div>
                    <div class="col-md-7">
                        <span ng-if="$first">Từ 0h đến [[bl.blockhour]]h</span>
                        <span ng-if="$index>0">Từ [[blocks[$index-1].blockhour]]h đến [[bl.blockhour]]h</span>
                    </div>
                </td>
                <td>
                    <div class="col-md-5">
                        <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));" class="form-control col-md-5" type="text" pattern="^[0-9]*$" ensure-expression="checkmoneybythis(bl.blockfee)"  placeholder="Số tiền" ng-model="bl.blockfee">
                    </div>
                    <div class="col-md-7">
                        <strong class="text-info" style="font-size:large">
                        [[(bl.blockfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span>
                        </strong>
                        <span ng-if="exceptfee">Tiền phí</span>
                        <span ng-if="!exceptfee">Cộng dồn</span>
                    </div>
                </td>
                <td ng-if="$first" rowspan="100%">
                    <label ><input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));"  type="checkbox" text="Lặp lại vòng 24h" value="Lặp lại vòng 24h" ng-model="detailfee24h.canrepeat">Lặp lại vòng 24h</label>
                    <div ng-hide="detailfee24h.canrepeat">
                        <input ng-disabled="!(sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid)));"  pattern="^[0-9]*$" ensure-expression="checkmoneybythis(detailfee24h.affterfee)" type="text" ng-model="detailfee24h.affterfee">
                        <strong class="text-info" style="font-size:large" >
                            [[(detailfee24h.affterfee | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span>
                        </strong>
                        <span ng-if="exceptfee">Tiền phí</span>
                        <span ng-if="!exceptfee">Cộng thêm</span>
                    </div>
                    <button ng-if="sf.ischange && (mypermission.iseditall || (mypermission.isedit && mypermission.userid==sf.userid));" type="submit" ng-click="post24h(sf)" class="btn btn-success btn-block"
                       ng-disabled="detail24.$invalid ||detail24.$error.pattern" >
                        Lưu
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
        <!--[[detailfee24h]]-->
    </form>
</div>




