
<div style="margin:20px;" ng-controller="SpecialDate">
    <div ng-if="mypermission.id==-1">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này</h2>
    </div>
    <div ng-if="mypermission.id!=-1">
    <!-- Modal -->
    <div ng-if="mypermission.isadd" class="modal fade" id="addsamplefee" role="dialog">
        <div class="modal-dialog" style="width:90%;">
          <!-- Modal content-->
          <div class="modal-content" style="width:100%;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Thêm ngày đặc biệt</h4>
            </div>
            <div class="modal-body" >
                <form name="formularForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                           <label>Tên gọi:</label>
                           <input type="text" class="form-control" placeholder="Tên dễ nhớ"
                                  required ng-model="add.callname">
                        </div>
                        <div class="form-group col-md-4">
                           <label>Ngày hiệu lực:</label>
                           <input type="date" class="form-control" placeholder="dd-MM-yyyy"
                                  required ng-model="add.dateactive">
                        </div>
                        <div class="form-group col-md-4">
                           <label>Phần trăm tăng hoặc giảm:</label>
                           <input ensure-expression="checkpercent(add.percentupordown)" type="text" class="form-control" placeholder="% tăng hoặc giảm"
                                  ng-model="add.percentupordown">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" ng-click="add.postSpecialDate()" class="btn btn-success btn-block"
                       ng-disabled="formularForm.$invalid ||formularForm.$error.pattern" data-dismiss="modal">
                        Lưu
               </button>
            </div>
          </div>
        </div>
    </div>
    <table class="grid table table-bordered">
        <thead>
            <tr >
                <th><button ng-if="mypermission.isadd" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addsamplefee">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    Tên gọi
                </th>
                <th>Ngày hiệu lực</th>
                <th>Phần trăm tăng hoặc giảm</th>
                <th>Tạo bởi</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "item in specialdates" ng-if="item.isvisible">
                <td>
                   [[item.callname]]
                </td>
                <td>
                   [[item.dateactive]]
                </td>
                <td>
                   [[item.percentupordown]]%
                </td>
                <td>[[item.createdby]]</td>
                <td>
                    <button title="xóa" ng-click="removeitem(item)" ng-if="item.ischange && (mypermission.isdelall || (mypermission.isdel && mypermission.userid==item.userid));" type="button" class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>