<div ng-controller="tenantgroup" style="margin:20px; ">
    <div ng-if="mypermission.id==-1">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này</h2>
    </div>
    <div ng-if="mypermission.id!=-1">
    <div ng-if="mypermission.isadd" class="modal fade" id="tenantgroup" role="dialog">
        <div class="modal-dialog" style="width:90%;">
          <!-- Modal content-->
          <div class="modal-content" style="width:100%;" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tạo nhóm cửa hàng
              </h4>
            </div>
            <div class="modal-body" >
                <form name="tenantgroupForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Nhóm cửa hàng</label>
                           <input style="height:34px;border:solid 1px #cdcdcd; border-top-right-radius:3px;border-bottom-right-radius:3px;"  placeholder="Tên nhóm" class="form-control"
                                  required ng-model="add.groupname">
                        </div>
                        <div class="form-group col-md-12">
                           <button style="width:120px;" type="submit" ng-click="add.posttenantgroup()" data-dismiss="modal" class="btn btn-success btn-block"
                               ng-disabled="tenantgroupForm.$invalid ||tenantgroupForm.$error.pattern">
                                Lưu
                            </button>
                        </div>

                    </div>
                </form>

            </div>
            <!--<div class="modal-footer">-->

            <!--</div>-->
          </div>
        </div>
      </div>
    <table  class="grid table table-bordered">
        <caption style="color:white;background-color:#27af60;padding:10px;">
            <span ng-click="showtenant=true;settenants();" ng-hide="showtenant" style="cursor:pointer;" class="glyphicon glyphicon-plus"></span>
            <span ng-click="showtenant=false;" ng-hide="!showtenant" style="cursor:pointer;"  class="glyphicon glyphicon-minus"></span>
            Gộp nhóm cửa hàng
        </caption>
        <thead ng-show="showtenant">
            <tr>
                <th>Cửa hàng</th>
                <th>
                    Nhóm cửa hàng
                    <button ng-if="mypermission.iseditall" type="button" ng-click="savechange()" class="btn btn-info btn-sm" data-target="#tenantgroup">
                        Lưu thay đổi
                    </button>
                </th>
            </tr>
        </thead>
        <tbody ng-show="showtenant">
            <tr ng-repeat = "item in tenants">
                <td>
                   [[item.tenant]]
                </td>
                <td>
                    <!--[[item.selectedindex]]-->
                    <!--[[item.groupselected]]-->
                    <select ng-disabled="!mypermission.iseditall" required ng-init="item.groupselected=item.group[item.selectedindex]"  ng-model="item.groupselected" class="form-control"
                        ng-options="it as it.groupname for it in item.group"></select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="grid table table-bordered">
        <thead>
            <tr>
                <th><button ng-if="mypermission.isadd" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#tenantgroup">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    Nhóm cửa hàng
                </th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "item in group" ng-if="item.isvisible">
                <td>
                    <div>
                        <span ng-click="item.showdetail=true;getdetail(item);" ng-hide="item.showdetail" style="cursor:pointer;" class="glyphicon glyphicon-plus"></span>
                        <span ng-click="item.showdetail=false;" ng-hide="!item.showdetail" style="cursor:pointer;"  class="glyphicon glyphicon-minus"></span>
                        [[item.groupname]]
                        <div ng-show="item.showdetail">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cửa hàng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in item.detail">
                                        <td>[[dt.tenant]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td>
                    <button title="xóa" ng-click="removeitem(item)" ng-if="item.ischange && mypermission.isdelall;" type="button" class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>