<div style="margin:20px;" ng-controller="myCtrl">
    <img ng-show="loading" class="loading" src="/static/image/loading.gif">
    <div ng-if="mypermission.id==-1">
        <h2>Tài khoản của bạn chưa đủ quyền truy cập chức năng này </h2>
    </div>
    <div ng-show="mypermission.id!=-1">
  <!-- Modal -->
    <div ng-show="mypermission.isadd" class="modal fade" id="addsamplefee" role="dialog">
        <div class="modal-dialog" style="width:90%;">
          <!-- Modal content-->
          <div class="modal-content" style="width:100%;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Thêm Công thức phí</h4>
            </div>
            <div class="modal-body" >
                <form name="samplefeeForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                           <label>Công thức phí:</label>
                            <select name="feetype" ng-change="addsample.typemethodselectedchange()" ng-model="addsample.feetypeselected" class="form-control"
                                    ng-options="item as item.name for item in addsample.feetypes"></select>
                        </div>
                        <div class="form-group col-md-8">
                           <label>Tên gọi:</label>
                           <input name="samplefeename" type="text" class="form-control" placeholder="Tên dễ nhớ"
                                  required ng-model="addsample.feename">
                        </div>
                        <div ng-show="addsample.feetypeselected.id==2">
                            <div class="form-group col-md-4">
                           <label>Điểm khởi đầu:</label>
                           <input name="timestart" value="[[addsample.timestart]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                  required ng-model="addsample.timestart">
                            </div>
                            <div class="form-group col-md-4">
                               <label for="chksubtractfree">Thời gian không tính phí:<input id="chksubtractfree" type="checkbox" ng-model="addsample.subtractfree"/>Từ đầu</label>
                               <input id="txtfreetime" ensure-expression="addsample.expression()" ensureWatch="addsample.tolerancetime" name="freetime" value="[[addsample.freetime | minutes]]" pattern="^[1-9][0-9]*$" placeholder="Số phút" class="form-control"
                                      ng-model="addsample.freetime" >
                            </div>
                            <div class="form-group col-md-4">
                               <label for="chksubtracttolerance">Dung sai:<input id="chksubtracttolerance" type="checkbox" ng-model="addsample.subtracttolerance"/> Trừ thời gian dung sai</label>
                               <input  id="txttolerancetime"   ensure-expression="addsample.expression()" ensureWatch="addsample.freetime" name="tolerancetime" value="[[addsample.tolerancetime]]"  text="[[addsample.tolerancetime | minutes]]" pattern="^[1-9][0-9]*$" placeholder="Số phút" class="form-control"
                                      ng-model="addsample.tolerancetime" >
                            </div>
                            <div class="row">
                                <!--[[complexdatesstr]]-->
                                <table class="table-bordered" style="margin-left:5%;margin-right:10px;width:90%">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Dạng ngày
                                                <button type="button" class="btn btn-info btn-sm" ng-click="addcomplexdate()" >
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" ng-click="delcomplexdate()">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </th>
                                            <th colspan="3">Khung thời gian</th>
                                        </tr>
                                        <tr>
                                            <th>Đặt tên</th>
                                            <th>
                                                <label>
                                                  <input type="radio" name="raddatetype" ng-model="datetype" ng-value="1">Ngày trong tuần</label>
                                                <label>
                                                  <input type="radio" name="raddatetype" ng-model="datetype" ng-value="0">Ngày đặc biệt (ngày lễ)</label>
                                                <!--<pre>Dạng ngày: [[datetype]], [[weekdayresult]]</pre>-->
                                                <div ng-show="datetype=='1'" >
                                                    <label><input type="checkbox"  ng-change="weekdayschangeall()"  ng-model="alldays">All</label>
                                                    <label ng-repeat="wd in weekdaychoices" ng-show="wd.isvisible"><input type="checkbox"  ng-change="weekdayschange()"  ng-model="wd.selected">[[wd.text]]</label>
                                                </div>
                                            </th>
                                            <th>Số khung liên tiếp</th>
                                            <th>Số khung Giờ vàng</th>
                                            <th>Số khung đặc biệt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cpl in complexdates">
                                            <td><input type="text" required ng-model="cpl.name"></td>
                                            <td>[[cpl.datedesc]]</td>
                                            <td><input class="form-control" type="text" pattern="([1-9][0-9])|([1-9])" required ng-model="cpl.amounttime1"> </td>
                                            <td><input class="form-control" type="text" ng-model="cpl.amounttime2"></td>
                                            <td><input class="form-control" type="text"  ng-model="cpl.amounttime3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="addsample.feetypeselected.id==1">
                            <div class="form-group col-md-12">
                               <label>Cách tính:</label>
                                <select name="feetype" ng-change="addsample.typemethodselectedchange()" ng-model="addsample.typemethodselected" class="form-control"
                                        ng-options="item as item.name for item in addsample.typemethods"></select>
                            </div>
                            <div class="form-group col-md-4">
                               <label>Thời gian không tính phí:</label>
                                <input value="[[addsample.freetime | minutes]]" pattern="^[1-9][0-9]*$" placeholder="Số phút" class="form-control"
                                      ng-model="addsample.freetime" >
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==1">
                               <label>Phần phí ngày-đêm(VNĐ):</label>
                               <input  name="feebytime" pattern="^[0-9]*$" ensure-expression="addsample.checkmoney(1)" type="text" class="form-control" placeholder="Số tiền"
                                  value="[[addsample.feebytime | number:0]]"    ng-hide="addsample.typemethodselected.issettotal"  ng-model="addsample.feebytime">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==1">
                               <label>Phần phí ngày(VNĐ):</label>
                               <input  name="feebytime" pattern="^[0-9]*$" ensure-expression="addsample.checkmoney(1)" type="text" class="form-control" placeholder="Số tiền"
                                  value="[[addsample.feebyday | number:0]]"    ng-hide="addsample.typemethodselected.issettotal"  ng-model="addsample.feebyday">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==1">
                               <label>Mốc khởi đầu:</label>
                               <input name="timestart" value="[[addsample.timestart]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                  required ng-model="addsample.timestart" ng-hide="addsample.typemethodselected.issettotal">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==1">
                               <label>Mốc thuộc đêm:</label>
                                <input name="timestart" value="[[addsample.timestart]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                  required ng-model="addsample.timebeginnight" ng-hide="addsample.typemethodselected.issettotal">
                            </div>
                            <div class="col-md-12" ng-show="addsample.typemethodselected.id==2">
                                <table style="width:99%;" class="grid table-bordered">
                                <thead>
                                    <tr>
                                        <th>Thời gian(số giờ)
                                            <button ng-show="addsample.Isaddtype24()" type="button" class="btn btn-info btn-sm" ng-click="addsample.addtype24()" >
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <button type="button" ng-show="addsample.Isdeltype24()" class="btn btn-danger btn-sm" ng-click="addsample.deltype24()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <label style="align-content: right;margin-right:5px;"  for="chkExcept"><input id="chkExcept" type="checkbox" text="Loại trừ" value="Loại trừ" ng-model="addsample.except">Loại trừ</label>
                                        </th>
                                        <th>Mức phí
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="it in addsample.type24h">
                                        <td>
                                            <input pattern="^[0-9]*$" type="text" class="form-control" placeholder="Số giờ" required ng-model="it.hour">
                                        </td>
                                        <td>
                                            <input pattern="^[0-9]*$"  ensure-expression="addsample.checkmoney(2,it.id)" type="text" class="form-control" placeholder="Số tiền" ng-model="it.money">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sau 24 h</th>
                                        <th>
                                            <div class="form-group col-md-12">
                                               <label for="chkrepeattype24h"><input id="chkrepeattype24h" type="checkbox" text="Lặp lại vòng 24h" value="Lặp lại vòng 24h" ng-model="addsample.repeattype24h">Lặp lại vòng 24h</label>
                                               <input pattern="^[0-9]*$" ng-disabled="addsample.repeattype24h" ensure-expression="addsample.checkmoney(3)" class="form-control" type="text" ng-model="addsample.aftertype24hfee">
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            </div>

                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Điểm khởi đầu ngày:</label>
                               <input value="[[addsample.NN.daystart]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                    required ng-model="addsample.NN.daystart">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Điểm khởi đầu đêm:</label>
                               <input value="[[addsample.NN.nightstart]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                    required ng-model="addsample.NN.nightstart">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Công thức ngày:</label>
                              <div style="background-color:[[addsample.NN.formulas.daycolor]]; color:black;" ng-mouseover="addsample.NN.formulas.showdaydetail=true" ng-mouseout="addsample.NN.formulas.showdaydetail=false" class="form-control" ng-click="addsample.NN.overflow='auto';addsample.NN.formulas.showdayfolmurla=!addsample.NN.formulas.showdayfolmurla;">
                                    <div>
                                        <span>[[addsample.NN.formulas.dayselected.callname]]</span>
                                         <div style="position:absolute;width:250px;z-index:9;" ng-show="addsample.NN.formulas.showdaydetail && !addsample.NN.formulas.showdayfolmurla ">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color:#efefef">
                                                    <tr ng-repeat="dt in addsample.NN.formulas.dayselected.detail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <ul style="list-style-type: none;background-color:#efefef; position:absolute;z-index:99999;height: 250px;overflow:[[addsample.NN.overflow]];" ng-show="addsample.NN.formulas.showdayfolmurla" ng-mouseover="addsample.NN.formulas.showdayfolmurla=true;" ng-mouseout="addsample.NN.formulas.showdayfolmurla=false;">
                                   <li ng-mouseover="fm.showdetail=true" ng-mouseout="fm.showdetail=false" style="padding:5px"  ng-click="addsample.NN.formulas.dayselected=fm;addsample.NN.formulas.daycolor='green'" ng-repeat="fm in addsample.NN.formulas">
                                       <span>[[fm.callname]]</span>
                                       <div ng-mouseover="addsample.NN.overflow='none'" ng-mouseout="addsample.NN.overflow='auto'" style="position:absolute;width:250px;z-index:9;" ng-show="fm.showdetail">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color:#efefef">
                                                    <tr ng-repeat="dt in fm.detail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                   </li>
                                </ul>
                            </div>
                            <div  class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Công thức đêm:</label>
                                <div style="background-color:[[addsample.NN.formulas.nightcolor]];color:black;" ng-mouseover="addsample.NN.formulas.showdetail=true" ng-mouseout="addsample.NN.formulas.showdetail=false" class="form-control" ng-click="addsample.NN.overflow='auto';addsample.NN.formulas.shownightfolmurla=!addsample.NN.formulas.shownightfolmurla;">
                                    <div>
                                        <span>[[addsample.NN.formulas.nightselected.callname]]</span>
                                         <div style="position:absolute;width:250px;z-index:9;" ng-show="addsample.NN.formulas.showdetail && !addsample.NN.formulas.shownightfolmurla ">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color:#efefef">
                                                    <tr ng-repeat="dt in addsample.NN.formulas.nightselected.detail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <ul style="list-style-type: none;background-color:#efefef; position:absolute;z-index:99999;height: 250px;overflow:[[addsample.NN.overflow]];" ng-show="addsample.NN.formulas.shownightfolmurla" ng-mouseover="addsample.NN.formulas.shownightfolmurla=true;" ng-mouseout="addsample.NN.formulas.shownightfolmurla=false;">
                                   <li ng-mouseover="fm.showdetail=true" ng-mouseout="fm.showdetail=false" style="padding:5px"  ng-click="addsample.NN.formulas.nightselected=fm;addsample.NN.formulas.nightcolor='green'" ng-repeat="fm in addsample.NN.formulas">
                                       <span>[[fm.callname]]</span>
                                       <div ng-mouseover="addsample.NN.overflow='none'" ng-mouseout="addsample.NN.overflow='auto'" style="position:absolute;width:250px;z-index:9;" ng-show="fm.showdetail">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color:#efefef">
                                                    <tr ng-repeat="dt in fm.detail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                   </li>
                                </ul>
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Trường hợp giao thoa:</label>
                               <select title="[[addsample.NN.OptionCaseSelected.name]]" ng-model="addsample.NN.OptionCaseSelected" class="form-control"
                                        ng-options="item as item.value for item in addsample.NN.OptionCase"></select>
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Mức phí 24h (trọn 1 ngày đêm):</label>
                                <input  pattern="^[0-9]*$" type="text" class="form-control" placeholder="Số tiền"
                                  value="[[addsample.NN.Fee24h | number:0]]"  ng-model="addsample.NN.Fee24h">
                            </div>
                            <div class="form-group col-md-4" ng-show="addsample.typemethodselected.id==3">
                               <label>Mức phí tối đa:</label>
                                <input  pattern="^[0-9]*$" type="text" class="form-control" placeholder="Số tiền"
                                  value="[[addsample.NN.MaxFee | number:0]]"   ng-model="addsample.NN.MaxFee">
                            </div>
                        </div>
                        <div ng-show="addsample.feetypeselected.id==3">
                            <div class="form-group col-md-4">
                               <label>Điểm khởi đầu:</label>
                               <input value="[[addsample.timestartr]]" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])" placeholder="HH:mm:ss" class="form-control"
                                    required ng-model="addsample.timestartr">
                            </div>
                            <div class="row">
                                <!--[[complexdatesstr]]-->
                                <table class="table-bordered" style="margin-left:5%;margin-right:10px;width:90%">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Dạng ngày
                                                <button type="button" class="btn btn-info btn-sm" ng-click="addredempdate()" >
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" ng-click="delredempdate()">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Đặt tên</th>
                                            <th>
                                                <label>
                                                  <input type="radio" name="rdtr" ng-model="datetyper" ng-value="1">Ngày trong tuần</label>
                                                <label>
                                                  <input type="radio" name="rdtr" ng-model="datetyper" ng-value="0">Ngày đặc biệt (ngày lễ)</label>
                                                <!--<pre>Dạng ngày: [[datetyper]], [[weekdayresultr]]</pre>-->
                                                <div ng-show="datetyper=='1'" >
                                                    <label><input type="checkbox"  ng-change="weekdayschangeallr()"  ng-model="alldaysr">All</label>
                                                    <label ng-repeat="wd in weekdaychoicesr" ng-show="wd.isvisible"><input type="checkbox"  ng-change="weekdayschanger()"  ng-model="wd.selected">[[wd.text]]</label>
                                                </div>
                                            </th>
                                            <th>Số khung liên tiếp</th>
                                            <th>Số khung Giờ vàng</th>
                                            <th>Số khung đặc biệt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cpl in redempdates">
                                            <td><input type="text" required ng-model="cpl.name"></td>
                                            <td>[[cpl.datedesc]]</td>
                                            <td><input class="form-control" type="text" pattern="([1-9][0-9])|([1-9])" required ng-model="cpl.amounttime11"> </td>
                                            <td><input class="form-control" type="text" ng-model="cpl.amounttime12"> </td>
                                            <td><input class="form-control" type="text" ng-model="cpl.amounttime13"> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <img ng-show="loading" class="loading-inner" src="/static/image/loading.gif">
              <button type="submit" ng-click="addsample.postsamplefees()" class="btn btn-success btn-block"
                      data-dismiss="modal">
                        Lưu
               </button>
            </div>
          </div>
        </div>
      </div>
    <table class="grid table table-bordered">
        <thead>
            <tr>
                <th><button ng-if="mypermission.isadd" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addsamplefee">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    Công thức phí</th>
                <th>Loại Công thức phí</th>
                <th>Trạng thái</th>
                <th>Tạo bởi</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="sf in SampleFees" class="active-[[sf.inused]]" ng-if="sf.isvisible">
                <td><span ng-click="sf.showdetail=true;" ng-hide="sf.feetype==1 || sf.showdetail" style="cursor:pointer;" class="glyphicon glyphicon-plus"></span>
                    <span ng-click="sf.showdetail=false;" ng-hide="sf.feetype==1 || !sf.showdetail" style="cursor:pointer;"  class="glyphicon glyphicon-minus"></span>
                    [[sf.feename]]
                    <input type="hidden" value="[[sf.id]]">
                </td>
                <td><span ng-show="showtotalfee(sf.feetype)">Thời gian không tính phí:[[sf.freetime]] phút</span>
                    <span ng-show="showtotalfee(sf.feetype)">Điểm khởi đầu:[[sf.startdate]]</span>
                    <span ng-show="showtotalfee(sf.feetype)">Mốc thuộc đêm:[[sf.startnight]]</span>
                    [[sf.feetype | feetype]]
                    <strong class="text-info" style="font-size:large" ng-show="showtotalfee(sf.feetype)">
                        Ngày-đêm: [[(sf.totalfees | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span>
                        Phần ngày: [[(sf.feeday | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span>
                    </strong>
                </td>
                <td>
                    [[sf.inused | usedstatus]]
                </td>
                <td>
                    [[sf.createdby]]
                </td>
                <td style="width:110px;">
                    <button style="margin-right:15px;" title="Sao chép" ng-click="sf.showcopy=true;" ng-if="sf.inused>0 && mypermission.isadd && sf.feetype!=5; " type="button" class="btn btn-primary btn-sm" >
                        <span class="glyphicon glyphicon-duplicate"></span>
                    </button>
                    <div class="modal-content" style="position:absolute;left:72%;width:25%;"  ng-if="sf.showcopy && sf.inused>0 && mypermission.isadd && sf.feetype!=5;">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="sf.showcopy=false;">&times;</button>
                            <h4 class="modal-title">Sao chép Công thức: [[sf.feename]]</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                               <label>Tên mới</label>
                               <input  placeholder="[[sf.feename]]_[[CurrentDate() | date:'yyyy-MM-dd HH:mm:ss']]" class="form-control"
                                      ng-model="sf.copyname" >
                            </div>
                            <button style="margin-right:15px;" title="Lưu" ng-click="copyitem(sf); sf.showcopy=false;sf.copyname='';" ng-if="sf.inused>0 && mypermission.isadd;" type="button" class="btn btn-primary btn-sm" >
                                Lưu
                            </button>
                            <button style="margin-right:15px;" title="Bỏ qua" ng-click="sf.showcopy=false;" ng-if="sf.inused>0 && mypermission.isadd;" type="button" class="btn btn-primary btn-sm" >
                                Bỏ qua
                            </button>
                         </div>
                    </div>

                    <button title="xóa" ng-click="removeitem(sf)" ng-if="sf.ischange && (mypermission.isdelall || (mypermission.isdel && mypermission.userid==sf.userid));" type="button" class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button title="Khóa" ng-click="lockitem(sf)" ng-if="false && sf.canlock && (mypermission.isdelall || (mypermission.isdel && mypermission.userid==sf.userid));" type="button" class="btn btn-info btn-sm" >
                        <!--<span class="glyphicon glyphicon-eye-close"></span>-->
                        <i style="font-size:14px; color:red;" class="material-icons">lock</i>
                    </button>
                    <button title="Mở khóa" ng-click="unlockitem(sf)" ng-if="false && sf.canunlock && (mypermission.isdelall || (mypermission.isdel && mypermission.userid==sf.userid));" type="button" class="btn btn-info btn-sm" >
                        <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                         <i style="font-size:14px" class="material-icons">lock_open</i>

                    </button>

                </td>
            </tr>
            <tr ng-repeat-end ng-if="sf.feetype!=1 && sf.showdetail">
                <td colspan="100%">
                    <div ng-if="sf.feetype==5" ng-controller="NNdetail" ng-init="getdetail(sf.id)">
                        <table style="width:99%" class="table-bordered">
                            <thead>
                                <tr>
                                    <th>Điểm khởi đầu ngày</th>
                                    <th>Điểm khởi đầu đêm</th>
                                    <th>Thời gian không tính phí</th>
                                    <th>Mức phí 24h trọn 1 ngày đêm</th>
                                    <th>Mức phí tối đa</th>
                                    <th>Định mức phí ngày</th>
                                    <th>Định mức phí đêm</th>
                                    <th>Trường hợp giao thoa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        [[detail.startday]]
                                    </td>
                                    <td>
                                        [[detail.startnight]]
                                    </td>
                                    <td>

                                        [[detail.freetime]]<span class="text-info"> phút</span>
                                    </td>
                                    <td>
                                        <span ng-if="dt.fee24h!='0'">[[(detail.fee24h| number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></span>
                                    </td>
                                    <td>
                                        <span ng-if="dt.maxfee!='0'">[[(detail.maxfee| number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></span>
                                    </td>
                                    <td title="[[detail.formuladaydetail]]" ng-mouseover="detail.showdetailday=true" ng-mouseout="detail.showdetailday=false">
                                        [[detail.formuladay]]
                                        <div style="position:absolute;width:250px;z-index:9; background-color:#efefef;" ng-show="detail.showdetailday">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr ng-repeat="dt in detail.formuladaydetail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td title="[[detail.formulanightdetail]]" ng-mouseover="detail.showdetailnight=true" ng-mouseout="detail.showdetailnight=false">
                                        [[detail.formulanight]]
                                        <div style="position:absolute;width:250px;z-index:9;; background-color:#efefef;" ng-show="detail.showdetailnight">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Block</th>
                                                        <th>Mức phí</th>
                                                        <th>Đơn vị</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="dt in detail.formulanightdetail">
                                                        <td>
                                                            <span ng-if="$first">[[dt.hours]]h đầu</span>
                                                            <span ng-if="$middle">[[dt.hours]]h tiếp theo</span>
                                                            <span ng-if="$last">Thời gian còn lại</span>
                                                            <span ng-if="dt.isonly" style="font-size:x-small;vertical-align: text-top;">Lặp lại</span>
                                                            <span ng-if="!dt.isonly" style="font-size:x-small;vertical-align: text-top;">Chỉ một lần</span>
                                                        </td>
                                                        <td class="text-info">[[(dt.money | number:0)]]<span style="font-size:x-small;vertical-align: text-top;">đ</span></td>
                                                        <td>[[dt.des]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td title="[[addsample.NN.OptionCase[detail.optioncase-1].name]]">
                                        Trường hợp [[detail.optioncase]]
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <samplecomplex ng-if="sf.feetype==3"></samplecomplex>
                    <sample24h  ng-if="sf.feetype==2"></sample24h>
                    <sampleredemtion ng-if="sf.feetype==4"></sampleredemtion>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>